#add-expense-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    background-color: #A8AEB3;
    gap: 10px;
}
/* ====================
LAYOUT
=================*/
#addExp-input-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BFBFBF;
    width: 95%;
    padding: 10px 5px;
    overflow-y: scroll;
    gap: 10px;
}
/* GROUP 1 */
#addExp-group1{
    width: 100%;
    border: solid #323A42 2px;
    background: #D6D6D6;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
}
#addExp-Block1{
    display: flex;
    gap: 10px;
}
#addExp-Title-block{
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
}
#addExp-group2{
    width: 100%;
    border: solid #323A42 2px;
    background: #D6D6D6;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
}
#addExp-Finance-block1,
#addExp-Finance-block2{
    display: flex;
    align-items: baseline;
    gap: 15px;
    margin: 0px;
    padding: 0px;
}
/* GROUP 3 */
#addExp-group3{
      width: 100%;
    border: solid #323A42 2px;
    background: #D6D6D6;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
}
#addExp-Notes-Block{
    display: flex;
    align-items: baseline;
    gap: 15px;
    margin: 0px;
    padding: 0px;
}
#addExp-date-block{
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
    gap: 5px;
}
/* GROUP 4 */
#addExp-group4{
    display: flex;
    justify-content: center;
      width: 100%;
    
   
    margin: 0px;
    padding: 0px;
    
}
#addExpenseStack4{
    display: flex;
    align-items: baseline;
    width: 95%;
    margin: 0px;
    padding: 0px;
}
.addExp-label{
    color: #000000;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    font-family: "Fira Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.addExp-input-div{
        margin: 0px;
    padding: 0px;
    display: flex;
    gap: 5px;
    align-items: baseline;
}
.addExp-textInput{
    width: 200px;
    border: solid 2px;
    border-radius: 5px;
    overflow-y: scroll;
    margin: 0px;
    padding: 5px;
}
/* BUTTONS */
#addExpBtn{
        display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 40px;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0px;
    letter-spacing: 2px;
    padding: 0px;
    border: solid 2px #323A42;
}