#btnGrid {
    width: 100%;
    background-color: #9B9B9B;
    margin: 0px;
    padding: 5px;
    border-radius: 8px;
}
#line1,
#line2,
#line4,
#line5,
#line3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}
#Btn0, #Btn1,
#Btn2, #Btn3,
#Btn4, #Btn5,
#Btn6,
#Btn7,
#Btn8,
#Btn9{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
     border: #323A42 solid;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-family: "Fira Mono", monospace;
}
#multiplyBtn,
#divideBtn,
#minusBtn,
#plusBtn,
#equalsBtn,
#backspaceBtn{
      display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #000;
     border: #323A42 solid;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-family: "Fira Mono", monospace;
}
#clearBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    color: #b22222;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    border: #323A42 solid;
}