/* ===============
CALCULATORS + CURRENCY CONVERTER DISPLAY/LAYOUT 
==============*/
#calculator-display-panal{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

}
/* BOOTSTRAP LAYOUT */
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#basic-calculator-row,
#vat-calculator-row,
#currency-converter-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#basic-calculator-col,
#vat-calculator-col,
#currency-convert-col{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#basic-calculator-col1,
#basic-calculator-col2,
#vat-calculator-col1,
#vat-calculator-col2,
#currency-convert-col1,
#currency-convert-col2{
    margin: 0px;
    padding: 0px;
}
#basic-calculator-col{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
/* BASIC CALCULATOR */
#basic-calculator-panal{
    display: flex;
    margin: 0px;
    padding: 10px 0px;
}
#basic-calculator-block{
    background-color: #9E9E9E;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
}
/* VAT CALCULATOR */
#vat-calculator-panal{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#vat-calculator-block{
    background-color: #9E9E9E;
    display: flex;
    margin: 10px 0px;
    padding: 10px;
}

/* CURRENCY CONVERTER */
#currency-converter-panal{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#converter-display-block{
    display: flex;
    justify-content: center;
    background-color: #9E9E9E;
    margin: 5px 0px;
    padding: 10px 5px;
    width: 90%;
}