#buttonBlock{
    width: 100%;
    display: flex;
    justify-content: center;
}
#general-calculator-div{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}