/* EDIT USER FORM */
#edit-profile-form{
    display: flex;
    flex-direction: column;
    background-color: #A8AEB3;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    gap: 10px;
    width: 100%;
}
/* ============
LAYOUT
==========*/
#edit-user-input{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    gap: 10px;
    background-color: #BFBFBF;
}
/* GROUP 1 */
#edit-profile-group1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 10px;
     border: solid #323A42 2px;
    background: #D6D6D6;
    border-radius: 8px;
}
#edit-user-stack1{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
}
#edit-username-block,
#edit-user-fullname-block{
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
    width: 100%;
    gap: 10px;
}
#edituser-profile-pic-block{
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 0px;
}
/* GROUP 2 */
#edit-profile-group2{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 10px;
     border: solid #323A42 2px;
    background: #D6D6D6;
    border-radius: 8px;
}
#edit-address-block1,
#edit-address-block2{
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
.edit-profile-textinput{
    width: 250px;
    border: solid 2px;
    border-radius: 5px;
    overflow-y: scroll;
    margin: 0px;
    padding: 5px;
}
#edit-profile-group3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#edit-user-stack5{
    width: 90%;
    margin: 0px;
    padding: 0px;
}
#editUserBtn{
 display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 180px;
    height: 40px;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    color: #000;
    border: solid 2px #323A42;
}
#editUserBtn:hover{
    color: #E8F0F6;
    background-color: #323A42; 
}
/* EDIT PASSWORD FORM */
#edit-password-form{
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #A8AEB3;
        margin: 0px;
    padding: 0px;
    align-items: center;
    gap: 10px;
}
#edit-password-form-input{
    width: 400px;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    background-color: #BFBFBF;

}
/* CURRENT PASSWORD */
#edit-password-stack1{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#currentPassword-div,
#showCurrentPswdBtn-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
/* NEW PASSWORD */
#newPassword-div,
#showNewPswdBtn-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
.password-input{
    text-align: center;
  border: solid black 2px;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  width: 250px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  font-weight: 700;
}
/* CONFIRM PASSWORD */
#confirmNewPassword-div,
#showConfirmPswdBtn-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
/* EDIT PASSWORD BUTTONS */
.edit-profile-label,
.editPswd-label{
    color: #000000;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    font-family: "Fira Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#showConfirmPswdBtn,
#showNewPswdBtn,
#showCurrentPswdBtn{
    width: 250px;
    height: 40px;
    margin: 0px;
    gap: 5px;
    padding: 0px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #323A42;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
#showConfirmPswdBtn:hover,
#showNewPswdBtn:hover,  
#showCurrentPswdBtn:hover{
    background-color: #323A42;
    color: #E8F0F6;
}
#editPswdSubmitBtn{
    width: 180px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #323A42;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
#editPswdSubmitBtn:hover{
    background-color: #323A42;
    color: #E8F0F6;
}