/* EntriesList.css
EntriesList.js */
#entriesList{
        width: 100%;
    margin: 0px;
    
    display: flex;
    flex-direction: column;
        gap: 10px;
        
    padding: 5px;
}
#entriesTableBlock{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
/* TABLE */

/* DETAILS PANAL */
#entryDetailsPanal{
    width: 100%;
    margin: 0px;
    padding: 0px 5px;
    border: #404040 solid ;
    border-radius: 5px;
    background-color: #D6D6D6;
}
#entryPanalBody{
    
    margin: 0px;
    padding: 10px 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#entryHeaderBlock{
    width: 100%;
    margin: 0px;
    padding: 5px 0px;
    border-bottom: #323A42 solid 2px;
}
#entryFooterBlock{
    width: 100%;
    margin: 0px;
    padding: 5px 0px;
    border-top: #323A42 solid 2px;
}
#entryBodyDiv{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* ENTRY CARD */
#tripEntryCard{
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: solid #323A42 2px;
    background-color: #c0c0c0;
}
.card-text #entryBody{
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
}
#entryCardTitle{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Fira Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
}

#entryCardBody{
    display: flex;
    flex-direction: column;
    align-items: baseline;
        margin: 0px;
    padding: 10px 5px;
    gap: 10px;
}
#toggleEditEntryBtn{
       display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    margin: 0px;
    padding: 0px;
    border: solid 2px #323A42;
}
#toggleEditEntryBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}
#toggleEditEntryBtn[aria-expanded="true"]{
    background-color: #323A42;
    color: #E8F0F6;
    border: solid 2px #000;
    text-decoration: underline;

}
#entryPanalStack1{
    display: flex;
    align-items: baseline;
}