/* Footer.css 
Footer.js,
PageFooter.js*/
#footer{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    background-color: #5F9B9E;
}
/* ===============
LAYOUT
==========*/
.footerPlaceHolder{
    height: 40px;
    width: 100%;
    margin: 0xp;
    padding: 0px;
}
#copyRightBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    gap: 10px;
}
#copyRightBlock span{
        display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
    padding: 0px;
}
/* BOOTSTRAP LAYOUT */
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#footer-row1{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#footer-row2{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#footer-row3{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#footer-col1{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#footer-logout-col{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
#footer-logout-col1{
    margin: 0px;
    padding: 0px;
}
#logout-col2{
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px 5px;
}
/* TIME STACK: https://react-bootstrap.netlify.app/docs/layout/stack */
#footerTimeStack{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* =====================
CLOCK
================*/
#dateItem,
#timeItem{
    display: flex;   
    gap: 5px;
    background-color: transparent;
    border: none;
}
.timeStamp{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
    padding: 0px;
}
/* TEXT */
#footerText{
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    letter-spacing: 1px;
    padding: 0px;
    text-decoration: underline;
}
/* BUTTON */
#logoutBtn{
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 180px;
    height: 40px;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    color: #000;
    letter-spacing: 2px;
    border: solid 2px #323A42;
    text-transform: uppercase;
    gap: 5px;
}
#logoutBtn:hover{
    background-color: #323A42;
    color: #E8F0F6;
}

