/* RegistrationForm.css
RegistrationForm.js: POST request to /users/register
*/
#registration-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 5px;
    width: 100%;
    background-color: #A8AEB3;
}
/* ====================
INPUT
==========*/

/* ==============
LAYOUT
===============*/
#regis-input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BFBFBF;
    margin: 0px;
    padding: 10px;
    width: 90%;
    gap: 10px;
}
/* GROUP 1 */
#regis-group1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #D6D6D6;
    width: 100%;
    margin: 0px;
    padding: 5px;
     border: solid #323A42 2px;
    background-color: #D6D6D6;
    border-radius: 8px;
}

/* BOOTSTRAP */
/* STACK 1 */
#regis-stack1{
    width: 100%;
    margin: 0px;
    padding: 0px;
    
}

#regis-fullName-input-block{
    display: flex;
    align-items: baseline;
    gap: 10px;
    
}
/* STACK 2 */
#regis-email-block{
    display: flex;
    align-items: baseline;
}
/* STACK 3 */
#regis-dateOfBirth-block{
    display: flex;
    align-items: baseline;
    margin: 0px;
    gap: 10px;
}
/* GROUP 2: ADDRESS */
#regis-group2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: 0px;
    padding: 5px;
    border: solid #323A42 2px;
    background-color: #D6D6D6;
    border-radius: 8px;
}
.address-input-div{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}
#regis-address-block1,
#regis-address-block2{
       display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
/* GROUP 3 : ADMIN + PROFILE PICTURE + PASSWORD*/
#regis-group3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0px;
    padding: 5px;
     border: solid #323A42 2px;
    background-color: #D6D6D6;
    border-radius: 8px;
}
/* STACK 6 */
#regis-stack6{
     display: flex;
    align-items: baseline;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
#regis-profilepic-block{
     display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}
#registrationProfilePictureHelp{
display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: #323A42;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
/* STACK 7 */
#regis-stack7{
    display: flex;
    align-items: baseline;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
#regis-password-block{
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
}
#regis-pswd-input-group{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}
/* =====================
INPUT = LAYBELS
================*/
.regis-label{
 font-family: "Fira Mono", monospace;
 font-weight: 700;
  margin: 0px;
  letter-spacing: 1px;
  padding: 0px;
}
.regisSelect{
    text-align: center;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 700;
}

/* GROUP 4 */
#regis-group4{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#regis-stack8{
    width: 90%;
     margin: 0px;
    padding: 0px;
}
/* INPUT */
.address-text-input{
    width: 250px;
    border: solid 2px;
    border-radius: 5px;
    overflow-y: scroll;
    margin: 0px;
    padding: 5px;

}
#regis-Btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    font-weight: 700;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    color: #000;
    border: solid 2px #323A42;
}