#usersList{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#userListTableBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#usersHeaderBlock{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: baseline;
    width: 100%;
}
#usersTable{
    width: 100%;
}
#userHeaderStack{
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#closeUserPanalBtn{
   display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0px;
    padding: 0px;
    border: solid 2px #323A42;
}