/* Dashboard.css
Dashboard.js
*/
/* =====================
SECTION 1: WELCOME SECTION
https://www.w3schools.com/tags/tag_section.asp
===========*/
#dashboardSection1 {
   width: 100%;
   background-color: #608021;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0px 10px 0px;
   padding: 0px;
}
/* =====
LAYOUT
========= */
#dashboardSection1Content {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 0px;
   padding: 10px 5px;
}
/* BOOTSTRAP LAYOUT */
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#dashboard-row1 {
   display: flex;
   width: 100%;
   margin: 0px;
   padding: 0px;
}  
#dashboard-col1 {
   width: 100%;
   margin: 0px;
   padding: 0px;
   display: flex;
   justify-content: center;
}
#dashboard-row2 {
   width: 100%;
   margin: 0px;
   padding: 0px;
}
#dashboard-col2 {
   width: 100%;
   margin: 0px;
   padding: 0px;
   display: flex;
   justify-content: center;
}
/* =====TEXT====== */
/*SECTION 1 HEADING */
#dashboardHeading {
   font-family: "Fira Mono", monospace;
   font-weight: 700;
   color: #000;
   letter-spacing: 2px;
   margin: 0px;
   padding: 0px;
   text-transform: uppercase;
   text-align: center;
   text-decoration: underline;
}