#globalErrorBlock{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#global-error-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;

}
#global-error-col{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#errorCol1,
#errorCol2{
    margin: 0px;
    padding: 0px;
}
.error-span{
        display: flex;
    margin: 0px;
    padding: 10px 0px;
    gap: 5px;
}
#errorMessage{
    font-family: "Noto Serif", serif;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-weight: 600;

}
#pageNotFound{
    display: flex;
    align-items: center;
     margin: 30px;
     padding: 0px;
}
#pageNotFound-text{
  text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
     font-family: "Noto Serif", serif;
     letter-spacing: 2px;
     font-size: 42px;
}
#errorIcon{
 font-weight: 900;
    text-decoration: underline;
     font-family: "Noto Serif", serif;
     letter-spacing: 2px;
     font-size: 42px;   
}