/* ================
SECTION 1
==============*/
#expensesSection1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #608021;
}
/* ==================
LAYOUT
===========*/
#exp-section1-panal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    gap: 10px;
}
#toggle-addexp-block,
#toggleAddBudgetBlock{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px 0px;
}
#addExp-Form-display,
#addBudget-form-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    margin: 0px;
    background-color: #9E9E9E;
}
#add-exp-panal,
#add-budget-panal{
    margin: 0px;
    padding: 10px 0px;
    width: 100%;
}
/* BOOTSTRAP */
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#toggleExpFormRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggleExpFormCol{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#toggleExpFormCol1,
#toggleExpFormCol2{
    margin: 0px;
    padding: 0px;
}
#expensesSection2{
     display: flex;
   justify-content: center;
   align-items: center;
  background-color: #7BA428;
  width: 100%;
  
  padding: 0px;
}
#exp-section2-panal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    gap: 10px;
    width: 100%;
}
#add-expense-row,
#addBudgetRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#addExpCol{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addExpCol1,
#addExpCol2{
    margin: 0px;
    padding: 0px;
}
#expensesListCol{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* ===============
 BUTTONS https://react-bootstrap.netlify.app/docs/components/buttons 
 =================*/
#toggleAddExpBtn,
#toggleAddBudgetBtn{
    margin: 0px;
    padding: 0px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    border: solid 2px #323A42;
    width: 180px;
    height: 40px;
}
#toggleAddExpBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}
