#journalSection1{
    width: 100%;
   background-color: #608021;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0px 10px 0px;
   padding: 0px;
}
/* =====================
LAYOUT
============*/
#journal-section1-panal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggleJournalRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggleJournalCol{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#toggleJournalCol1,
#toggleJournalCol2{
    margin: 0px;
    padding: 0px;
}
#toggleJournalFormsStack{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#journal-form-panal{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
#add-trip-panal{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#addTripRow{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#addTripCol{
    display: flex;
    margin: 0px;
    padding: 0px;
}
#addTripCol1,
#addTripCol2{
    margin: 0px;
    padding: 0px;
}
#addTrip-display-block{
    display: flex;
        flex-direction: column;
        align-items: center;
    width: 100%;
        padding: 10px 0px;
margin: 0px;
}
#addEntry-display-block{
    display: flex;
        flex-direction: column;
        align-items: center;
    width: 100%;
        padding: 10px 0px;
margin: 0px;
}
#addEntry-Row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#addEntryCol{
    margin: 0px;
    padding: 0px;
}
#addEntryCol1,
#addEntryCol2{
    margin: 0px;
    padding: 0px;
}