#journalSection1{
    width: 100%;
   background-color: #608021;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0px 10px 0px;
   padding: 0px;
}
/* =====================
LAYOUT
============*/
#journal-section1-panal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* FORM PANALS */
#add-trip-panal{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#journal-form-panal{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
/* BOOTSTRAP LAYOUT */
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#toggleJournalRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggleJournalCol{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#toggleJournalCol1,
#toggleJournalCol2{
    margin: 0px;
    padding: 0px;
}
/* STACK: https://react-bootstrap.netlify.app/docs/layout/stack */
#toggleJournalFormsStack{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggle-addtrip-block,
#toggle-addEntry-block{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#addTripRow,
#addEntry-Row{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#addTripCol,
#addEntryCol{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px 0px;
}
#addTripCol1,
#addTripCol2,
#addEntryCol1,
#addEntryCol2{
    margin: 0px;
    padding: 0px;
}

/* ===============
 BUTTONS https://react-bootstrap.netlify.app/docs/components/buttons 
 =================*/
#toggleAddTripBtn,
#toggleAddEntryBtn{
    margin: 0px;
    padding: 0px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    border: solid 2px #323A42;
    width: 180px;
    height: 40px;
}
#toggleAddTripBtn:hover,
#toggleAddEntryBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}