/* ===================
Login.js 
----------------------
SECTION 1: LOGIN FORM
=======*/
#loginSection{
     background-color: #608021;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
/* ============
LAYOUT
===========*/
#login-form-panal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9E9E9E;
    margin: 0px;
    padding: 10px;
    width: 70%;
}
/* BOOTSTRAP LAYOUT */
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#login-row{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#login-col{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
#login-col1,
#login-col2{
    margin: 0px;
    padding: 0px;
}
/* ================
Registration.js
-----------
SECTION 1
===============*/
#regis-section1{
    display: flex;
    justify-content: center;
    background-color: #608021;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
}
/* ==================
LAYOUT
=============*/
#regisSection1Panal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 0px;
    padding: 10px;
}
#regis-form-panal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #9E9E9E;
    margin: 0px;
    padding: 10px;
    gap: 10px;
}
/* BOOTSTRAP LAYOUT */
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#register-row,
#regisAdminMsgRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#regisCol{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#regisAdminMsgRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#adminMsgCol{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#adminMsgCol1,
#adminMsgCol2{
    margin: 0px;
    padding: 0px;
}